<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
  <!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
    <!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
      <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="author" content="Pablo Cantero">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="http://pablocantero.com/">
        <link href="/assets/themes/the-pug-automatic/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="/atom.xml" rel="alternate" title="Pablo Cantero" type="application/atom+xml">
        <!--Fonts from Google's Web font directory at http://google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
        <link href="/images/custom/favicon.ico" rel="icon">
      </head>
      <body  id="index">
        <div id="main">
          <div id="content">
            <div>
              <a href="/"><img src="/images/home-icon.png" border='0'></a>
              {{ content }}

              {% include JB/analytics %}
            </div>
            <aside class="sidebar">
            &nbsp;
            &nbsp;  &nbsp;<header class="site-header">
            <!-- <h1 class="site-title"><a href="/">{{ site.title }}</a></h1> -->
            <!-- <h1 class="site-title"><a href="/">01101000 01110100 01110100 01110000 00111010 00101111 00101111 01100111 01101111 01101111 00101110 01100111 01101100 00101111 00110110 01011010 01000011 01101101 01001001</a></h1> -->
            <!-- <h1 class="site-title"><a href="/">68 74 74 70 3a 2f 2f 67 6f 6f 2e 67 6c 2f 36 5a 43 6d 49</a></h1> -->
            <h1 class="site-title"><a href="/"><img src="/images/pablo-cantero.jpg" alt="Pablo Cantero"></a></h1>
            <p class="site-intro">
            <!-- A blog by <a href="/about/">{{ site.author.name }}</a>. -->
            <!-- <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Subscribe by RSS.</a> -->


            ping_to <a href="http://twitter.com/{{site.author.twitter}}">@{{site.author.twitter}}</a> || <a href="http://github.com/{{site.author.github}}">GitHub</a> || <a href="http://linkedin.com/in/{{site.author.linkedin}}">Linkedin</a> || <a href="mailto:{{site.author.email_encoded}}">{{site.author.email_encoded}}</a>

            </p>
            </header>

            </aside>
          </div>
        </div>
      </body>
    </html>
